
.row {
   
    display: flex;
    flex-direction: row;
    
}
.column {
   
    display: flex;
    flex-direction: column;
    
}
.article {
  margin-left: 20px;
    font-size: 22px;
    font-weight: 900;
}
.back
{
    background-color: lavender;
  }